<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="my-5">Custom List with 1000 records</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <!-- custom component listing -->
            <app-custom-table [values]="tableHelper.records" [cols]="tableHelper.cols" [loading]="tableHelper.isLoading" (onLazyLoad)="getData($event)" [emptyMessage]="'No User Found'" [(selection)]="selectedUsers">
            </app-custom-table>
            <!-- end custom component listing -->
        </div>

        <!-- show result -->
        <div class="col-2">
            <pre>
Total Records: <br>
{{tableHelper.records.length}}
</pre>
            <pre>
Selected Records: <br>
{{selectedUsers|json}}
      </pre>
        </div>
    </div>
</div>